 #sortable { list-style-type: none; 
 	margin: 0; 
 	padding: 0; 
 	width: 100%; 
 }

 #sortable li {
 	display: inline;
 	margin: 1px 1px 1px 0;
	padding: 1px;
	float: left;
	width: 10px;
	height: 5px; 
	text-align: center;
}