.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
    width: 90%;
}

.container {
    margin-right: auto;
    margin-left: auto;
    *zoom: 1;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border: 1px solid #ddd;
    /*border-top:3px solid #ddd;*/
    /*border-right:3px solid #ddd;*/
    
    padding: 50px;
    background: #fff;
    -webkit-box-shadow: 2px 2px 3px 0 #C4C4C4;
    box-shadow: 2px 2px 3px 0 #C4C4C4;
}

.container:before,
.container:after {
    display: table;
    content: "";
    line-height: 0;
}

.container:after {
    clear: both;
}

.container-fluid {
    padding-right: 20px;
    padding-left: 20px;
    *zoom: 1;
}

.container-fluid:before,
.container-fluid:after {
    display: table;
    content: "";
    line-height: 0;
}

.container-fluid:after {
    clear: both;
}

td.details-control {
    background: url('../img/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('../img/details_close.png') no-repeat center center;
}

.node circle {
    cursor: pointer;
    fill: #eef;
    /*    stroke: steelblue;*/
    
    stroke-width: 1.5px;
}

text.node {
    font-size: 13px;
    fill: #000;
}

path.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

#sortable { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 450px;
}

#sortable li { 
    margin: 4px 4px 4px 0; 
    padding: 1px; 
    float: left; 
    width: 100px; 
    height: 30px; 
    font-size: medium; 
    text-align: center; 
}

.sortable_placeholder { 
    margin: 4px 4px 4px 0; 
    padding: 1px; 
    width: 100px; 
    height: 30px;
    font-size: medium; 
    text-align: center;
    box-shadow: 2px 2px 3px 0 #C4C4C4;
}